<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Restaurent Record SetUp</h2>
    <div class="d-flex">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Add Restaurent</button>
    </div>
</div>
</nav>
<!-- JUmp -->
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="www.google.com" role="button">Learn more</a>
    </p>
  </div>
<!-- Table show here -->
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">RestaurentID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mob No.</th>
            <th scope="col">Address</th>
            <th scope="col">Service</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Pallavi</td>
            <td>pal_lavi_18@gmail.com</td>
            <td>7282898990</td>
            <td>not Fixed</td>
            <td>Tea & Coffee</td>
            <td>
                <button class="btn btn-info">Edit</button>&nbsp;
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<!-- Modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>