<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Restaurent Record SetUp</h2>
    <div class="d-flex">
        <button class="btn btn-success">Add Restaurent</button>
    </div>
</div>
</nav>
<!-- Table show here -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">RestaurentID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mob No.</th>
            <th scope="col">Address</th>
            <th scope="col">Service</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Pallavi</td>
            <td>pal_lavi_18@gmail.com</td>
            <td>7282898990</td>
            <td>not Fixed</td>
            <td>Tea & Coffee</td>
            <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<p>restaurent-dash works!</p>
